.ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    align-items: end;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }
}

.ul li{
    @media screen and (max-width: 1024px) {
        width: 100%;
        margin-bottom: 12px;
    }
}

.form-check {
    @media screen and (max-width: 1024px) {
        padding: 2em;
    }
}

.selectable-table {
    width: 100%;
    td {
        padding: 0;

        .active, .inactive {
            width: 100%;
            border: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    .overflow-a {
        overflow: auto;
    }

}

.inactive:hover {
    background-color: #0dbbf0;
}

.active {
    background-color: #0dcaf0;
}